{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}OLX - SignUp{% endblock title %}

{% block content %}
    <div class="container">
        <div class="col"></div>
        <div class="col-6 mt-5">
            <h2>Signup</h2>
            <form method="post">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Register</button>
                <a href="{% url 'login' %}">login here</a>
            </form>
        </div>
        <div class="col"></div>
    </div>
{% endblock content %}