{% extends 'base.html' %}
{% load static %}

{% block title %}OLX - onlayn bozor{% endblock title %}


{% block content %}
    <!-- Product Cart Start -->
    <div class="container">
        <div class=" w-100 mt-4">
            <h4 class="d-block" >Recently Products</h4>
            <div class="d-flex flex-wrap justify-content-between">
                {% for i in products %}
                <!-- Product Cart Start -->
                <div class="card border border-0 shadow-sm d-inline-block m-1 mt-3" style="width: 16.5rem;" >
                    <img height="250" width="190" class=" card-img-top" src="{{ i.image.url }}" alt="">
                    <div class="card-body">
                        <h6 class="align-center card-title">{{ i.title }}</h6>
                        <span class="center card-text"><small>{{ i.price }}</small> so'm</span>
                        <div class="buttons d-flex flex-wrap justify-content-between ">
                            <a href="{% url 'add_saved' i.id %}"><i class="bi bi-bookmark-fill"></i> </a>
                            <a href="{% url 'product_details' i.id %}" class="btn btn-outline-primary">Details</a>
                        </div>
                    </div>
                </div>  
                <!-- Product Cart End -->
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Product Cart End -->
    <!-- Profile Start -->
    <div class="container">
        <div class="row">
            <div class="col-12 card mt-5 ">
                <div class="row">
                    <div class="col-2 m-3">
                        <img class="img-thumbnail" width="150" height="150" src="{% static 'images/default.png' %}" alt="profile image">
                    </div>
                    <div class="col-8 m-3">
                        <h2>Akbarjon Abdurasulov</h2>
                        <p class="text-muted" >@abdurasuloff | akbarjon@gmail.com</p>
                        <a class="btn btn-warning" href="#">Edit details</a>
                        <a class="btn btn-danger" href="#">Update Password</a>
                        <a class="btn btn-primary" href="#">Email</a>
                        <a class="btn btn-primary" href="#">Call</a>
                        <a class="btn btn-primary" href="#">Telegram</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- Profile End -->
    <!-- Product Detail Start -->
    <div class="container">
        <div class=" w-100 mt-5 ">
            <div class="row shadow-sm ">
                <div class="col-4 p-3">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active thumbnail shadow-sm ">
                                <img class="d-block w-100 " width="400" height="270" src="{% static 'images/14pro2.jfif' %}" alt="">
                            </div>
                            <div class="carousel-item thumbnail shadow-sm">
                                <img class="d-block w-100  " width="400" height="270" src="{% static 'images/14pro2.jfif' %}" alt="">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                  </div> 
                </div>
                <div class="col-7 p-5 ">
                    <h4>Kompyuter Sotiladi</h4>
                    <p class="test-muted"><a href="#">@abdurasuloff</a> | 25.01.2023</p>
                    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat impedit modi non cum nemo iure aliquid asperiores quisquam veniam, officiis necessitatibus quod cupiditate.</p>
                    <div class="contact mt-4 ">
                        <a class="btn btn-warning" href="#">Edit details</a>
                        <a class="btn btn-primary" href="#">Email</a>
                        <a class="btn btn-primary" href="#">Call</a>
                        <a class="btn btn-primary" href="#">Telegram</a>
                    </div>
                </div>
            </div>
            <div class="row ">  
                <div class="col-8 mt-5" >
                    <h6  >In This Category</h6> 
                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="card border border-0 shadow-sm d-inline-block m-1 mt-3" style="width: 14rem;" >
                            <img height="190" class=" card-img-top" src="{% static 'images/14pro2.jfif' %}" alt="">
                            <div class="card-body">
                                <h6 class="align-center card-title"> Laptop is selling!</h6>
                                <span class="center card-text">10.000.000 so'm</span>
                                <div class="buttons d-flex flex-wrap justify-content-between ">
                                    <i class="bi bi-bookmark-fill"></i> 
                                    <a href="#" class="btn btn-outline-primary" >Details</a>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="col-4 mt-5 shadow-sm ">
                    <h6 class="pt-2" >Add comment</h6>
                    <form action="#" method="post" class="input-group"> 
                        <input class="form-control" name="body" type="text" placeholder="Type your comment..." aria-describedby="'button-addon" >
                        <button class="btn btn-outline-success" type="submit" id="button-addon">Send</button>
                    </form>  
                    <hr>
                    <h6>Comments</h6>
                    <small class="text-muted" >@akbarjon | 24.01.2023</small>
                    <p>This is super)</p>  
                </div>
            </div>
  
    </div>
    </div>
    <!-- Product Detail End -->
  
{% endblock content %}