{% extends 'base.html' %}
{% load static %}


{% block title %}OLX - {{ product.title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class=" w-100 mt-5 ">
        <div class="row shadow-sm ">
            <div class="col-4 p-3">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div>
                            <img class="d-block" width="300" height="270" src="{{ product.image.url }}" alt="">
                        </div>
                    </div>
              </div> 
            </div>
            <div class="col-7 p-5 ">
                <h4>{{ product.title }} sotiladi</h4>
                <p class="test-muted"><a href="#">{{ product.author }}</a> | {{ product.date }}</p>
                <p>{{ product.description }}</p>
                <h4>{{ product.price }} so'm </h4>
                <div class="contact mt-4 ">
                    <a class="btn btn-warning" href="{% url 'update' product.id %}">Edit details</a>
                    <a class="btn btn-danger" href="{% url 'delete' product.id %}">Delete</a>
                    <a class="btn btn-primary" href="mailto:{{ product.author.email }}">Email</a>
                    <a class="btn btn-primary" href="tel:{{ product.author.phone_number }}">Call</a>
                    <a class="btn btn-primary" href="https://t.me/@{{ product.author.tg_username }}">Telegram</a>
                </div>
            </div>
        </div>
        <div class="row ">  
            <div class="col-8 mt-5" >
                <h6  >In This Category</h6> 
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="card border border-0 shadow-sm d-inline-block m-1 mt-3" style="width: 14rem;" >
                        <img height="190" class=" card-img-top" src="{% static 'images/14pro2.jfif' %}" alt="">
                        <div class="card-body">
                            <h6 class="align-center card-title"> Laptop is selling!</h6>
                            <span class="center card-text">10.000.000 so'm</span>
                            <div class="buttons d-flex flex-wrap justify-content-between ">
                                <i class="bi bi-bookmark-fill"></i> 
                                <a href="#" class="btn btn-outline-primary" >Details</a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="col-4 mt-5 shadow-sm ">
                <h6 class="pt-2" >Kommentariya qo'shish</h6>
                <form action="{% url 'comment_new' product.id %}" method="post" class="input-group">{% csrf_token %}
                    <input class="form-control" name="body" type="text" placeholder="Izoh qoldiring...." aria-describedby="'button-addon" >
                    <button class="btn btn-outline-success" type="submit" id="button-addon">Yuborish</button>
                </form>  
                <hr>
                <h6>Izohlar</h6>
                {% for i in product.comment_set.all %}
                    <small class="text-muted" >@{{ i.author }} | {{ i.date }}</small>
                    <p>{{ i.body }}</p>  
                {% endfor %}
               
            </div>
        </div>

</div>
</div>
{% endblock content %}